<div>
  <link href="./feature-card2.css" rel="stylesheet" />
  <div class="feature-card2-feature-card">
    <svg viewBox="0 0 1024 1024" class="feature-card2-icon">
      <path
        d="M384 554h256v300q0 18-12 30t-30 12h-172q-18 0-30-12t-12-30v-300zM768 128h86v342h-86l-128-128v128h-256v-128h-214q0-88 63-151t151-63h256v128z"
      ></path>
    </svg>
    <div class="feature-card2-container">
      <h2 class="feature-card2-text"><span>Committed</span></h2>
      <span><span>Nati is always working hard to help you.</span></span>
    </div>
  </div>
</div>
